<!DOCTYPE HTML>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>Interview Test</title>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" >
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">
    <div class="col">
        test interview
    </div>
</div>
</body>
</html>